#main-content { font-family: 'Times New Roman',Times,serif; color: black; font-size: 16pt; border: black 1pt solid; border-radius: 2em; padding: 10pt; background-color: white; }
#main-content-header { font-size: 14pt; border: black 1pt solid; border-radius: 2em; padding: 2em; }
p.title { font-size: 24pt; text-align: center; }
p.responsibility { font-size: 12pt; text-align: center; }
p.author { font-size: 16pt; text-align: center; }
p.publisher { font-size: 12pt; text-align: center; }
p.license { font-size: 12pt; text-align: center; }
p.date { font-size: 12pt; text-align: center; }
p.link-to-facsimiles { font-size: 12pt; text-align: left; margin-left: 20pt; }
p.link-to-facsimiles a:link { color: black; text-decoration: underline; }
p.link-to-facsimiles a:hover { color: black; text-decoration: underline; }
p.link-to-facsimiles a:active { color: black; text-decoration: underline; }
p.link-to-facsimiles a:visited { color: black; text-decoration: underline; }
div.used-glyphs { font-size: 12pt; text-align: left; margin-left: 20pt; }
p.glyphs { margin-left: 20pt; }
span.name-of-glyph { margin-left: 10pt; }
p.editorial-declaration-punctuation { font-size: 12pt; margin-left: 20pt; }
div.editorial-declaration-normalization { font-size: 12pt; margin-left: 20pt; }
p.abbreviations { margin-left: 20pt; }
span.abbreviations-text { margin-left: 10pt; }
div#main-content-body { font-size: 12pt; border: black 1pt solid; border-radius: 2em; margin: 20pt; padding: 10pt; }
span.line-number { margin-right: 10pt; font-style: italic; background-color: white; }
div.header { font-size: 18pt; font-weight: bold; }
div.quotation { font-size: 16pt; }
div.commentary { font-size: 14pt; margin-left: 20pt; margin-top: 0pt; margin-bottom: 0pt; padding: 0pt; }
div.bibliography { font-size: 12pt; margin-left: 20pt; }
p.bibliographic-item { margin-left: 40pt; }
span.smallCaps { font-variant: small-caps; }
p.quotation-links { margin-left: 100pt; }
p.quotation-links a:link { color: black; text-decoration: underline; }
p.quotation-links a:hover { color: black; text-decoration: underline; }
p.quotation-links a:active { color: black; text-decoration: underline; }
p.quotation-links a:visited { color: black; text-decoration: underline; }
span.glyph-in-text { font-weight: normal; font-size: 12pt; }
p.page-number { margin-left: 10pt; font-weight: bold; }
p.manuscript-content { margin-left: 20pt; font-size: 12pt; }
div.manuscript-content { margin-left: 20pt; font-size: 12pt; margin-top: 20pt; }
.text-header { margin-left: 20pt; font-size: 12pt; }
.manuscript-physical-description { margin-left: 20pt; font-size: 12pt; }
.manuscript-physical-description-content { margin-left: 30pt; font-size: 12pt; }
img.layout-description-image { margin-left: 30pt; margin-top: -10pt; margin-bottom: -10pt; }
ul.manuscript-physical-description-content { margin-left: 30pt; font-size: 12pt; }
span.text-main-bold { font-weight: bold; }
span.text-main-normal { font-size: 12pt; font-weight: normal; }
div.quotation { margin-top: 10pt; margin-left: 20pt; }
p.manuscript-content-rendition { font-size: 12pt; font-weight: normal; margin-left: 10pt; margin-bottom: 0pt; padding-bottom: 0pt; }
div.main-text-commentary { margin-left: 40pt; margin-top: 20pt; }
div.note-in-commentary { margin-left: 80pt; margin-top: 20pt; }
span.red-ink-bold { font-weight: bold; }
span.overline { text-decoration: overline; }
div.psalmnumber { font-size: 10pt; margin-left: 30pt; margin-top: 10pt; }
div.bibleverse { font-size: 14pt; }
div.linebreak { display: block; margin: 5pt; }
span.reference { font-size: 10pt; color: blue; }
li.list-of-authors a:link { color:black; text-decoration: underline; }
li.list-of-authors a:hover { color:black; text-decoration: underline; }
li.list-of-authors a:active { color:black; text-decoration: underline; }
li.list-of-authors a:visited { color:black; text-decoration: underline; }
div.main-text-commentary a:link { color: black; text-decoration: underline; }
div.main-text-commentary a:hover { color: black; text-decoration: underline; }
div.main-text-commentary a:active { color: black; text-decoration: underline; }
div.main-text-commentary a:visited { color: black; text-decoration: underline; }
span.quotation-patristic-author { background-color : white; }
span.quotation-biblical { background-color: #e8f0fc }
span.unclear { text-decoration-style: dotted; text-decoration-line: underline; }
span.addition-underline { text-decoration: underline; }
div#main-content-body a:link { color: black; text-decoration: underline; }
div#main-content-body a:hover { color: black; text-decoration: underline; }
div#main-content-body a:active { color: black; text-decoration: underline; }
div#main-content-body a:visited { color: black; text-decoration: underline; }
.large-greek-text { font-size: 16pt; background-color: #ecc58d; }
.large-latin-text { font-size: 16pt; background-color: #d69e5c; }
.greek-psalmtext { background-color: #cccbc8; }
.latin-psalmtext { background-color: #e0deda; }
.header-centered { font-size: 18pt; font-weight: bold; text-align: center; }
div.list-of-witnesses { margin-left: 40pt; margin-top: 10pt; margin-bottom: 10pt; }
div.psalm { margin-bottom: 30pt; margin-top: 30pt; }
div.body-psalmtext { font-size: 16pt; }
div.body-textcritic { border-bottom: 1pt solid black; margin-bottom: 10pt; }