.logo-round { border-radius: 50%; }
#main-content { font-family: 'Times New Roman',Times,serif; color: black; font-size: 16pt; border: #f7e2a6 5px solid; background-color: white; padding: 10pt; }
#main-content-header { font-size: 14pt; border: #f7e2a6 2.5px solid; }
p.title { font-size: 24pt; text-align: center; }
p.responsibility { font-size: 12pt; text-align: center; }
p.author { font-size: 16pt; text-align: center; }
p.publisher { font-size: 12pt; text-align: center; }
p.license { font-size: 12pt; text-align: center; }
p.date { font-size: 12pt; text-align: center; }
p.link-to-facsimiles { font-size: 12pt; text-align: left; margin-left: 20pt; }
p.link-to-facsimiles a:link { color: black; text-decoration: underline; }
p.link-to-facsimiles a:hover { color: black; text-decoration: underline; }
p.link-to-facsimiles a:active { color: black; text-decoration: underline; }
p.link-to-facsimiles a:visited { color: black; text-decoration: underline; }
div.used-glyphs { font-size: 12pt; text-align: left; margin-left: 20pt; }
p.glyphs { margin-left: 20pt; }
span.name-of-glyph { margin-left: 10pt; }
p.editorial-declaration-punctuation { font-size: 12pt; margin-left: 20pt; }
div.editorial-declaration-normalization { font-size: 12pt; margin-left: 20pt; }
p.abbreviations { margin-left: 20pt; }
span.abbreviations-text { margin-left: 10pt; }
div#main-content-body { font-size: 12pt; border: #f7e2a6 2.5px solid; margin: 20pt; padding: 10pt; }
span.line-number { margin-right: 10pt; font-style: italic; background-color: white; }
div.header { font-size: 18pt; font-weight: bold; }
div.quotation { font-size: 16pt; }
div.commentary { font-size: 14pt; margin-left: 20pt; margin-top: 0pt; margin-bottom: 0pt; padding: 0pt; }
div.bibliography { font-size: 12pt; margin-left: 20pt; }
p.bibliographic-item { margin-left: 40pt; }
span.smallCaps { font-variant: small-caps; }
p.quotation-links { margin-left: 100pt; }
p.quotation-links a:link { color: black; text-decoration: underline; }
p.quotation-links a:hover { color: black; text-decoration: underline; }
p.quotation-links a:active { color: black; text-decoration: underline; }
p.quotation-links a:visited { color: black; text-decoration: underline; }
span.glyph-in-text { font-weight: normal; font-size: 12pt; }
p.page-number { margin-left: 10pt; font-weight: bold; margin-top: 0.8em; }
p.manuscript-content { margin-left: 20pt; font-size: 12pt; }
div.manuscript-content { margin-left: 20pt; font-size: 12pt; margin-top: 20pt; }
.text-header { margin-left: 20pt; font-size: 12pt; }
.manuscript-physical-description { margin-left: 20pt; font-size: 12pt; }
.manuscript-physical-description-content { margin-left: 30pt; font-size: 12pt; }
img.layout-description-image { margin-left: 30pt; margin-top: -10pt; margin-bottom: -10pt; }
ul.manuscript-physical-description-content { margin-left: 30pt; font-size: 12pt; }
span.text-main-bold { font-weight: bold; }
span.text-main-normal { font-size: 12pt; font-weight: normal; }
div.quotation { margin-top: 10pt; margin-left: 20pt; }
p.manuscript-content-rendition { font-size: 12pt; font-weight: normal; margin-left: 10pt; margin-bottom: 0pt; padding-bottom: 0pt; }
div.main-text-commentary { margin-left: 40pt; margin-top: 20pt; }
div.note-in-commentary { margin-left: 80pt; margin-top: 20pt; }
span.red-ink-bold { font-weight: bold; }
span.overline { text-decoration: overline; }
div.psalmnumber { font-size: 10pt; margin-left: 30pt; margin-top: 10pt; }
div.bibleverse { font-size: 14pt; }
div.linebreak { display: block; margin: 5pt; }
span.reference { font-size: 10pt; color: #f7e2a6; }
li.list-of-authors a:link { color:black; text-decoration: underline; }
li.list-of-authors a:hover { color:black; text-decoration: underline; }
li.list-of-authors a:active { color:black; text-decoration: underline; }
li.list-of-authors a:visited { color:black; text-decoration: underline; }
div.main-text-commentary a:link { color: black; text-decoration: underline; }
div.main-text-commentary a:hover { color: black; text-decoration: underline; }
div.main-text-commentary a:active { color: black; text-decoration: underline; }
div.main-text-commentary a:visited { color: black; text-decoration: underline; }
span.quotation-patristic-author { background-color : white; }
span.quotation-biblical { background-color: #e8f0fc }
span.unclear { text-decoration-style: dotted; text-decoration-line: underline; }
span.addition-underline { text-decoration: underline; }
div#main-content-body a:link { color: black; text-decoration: underline; }
div#main-content-body a:hover { color: black; text-decoration: underline; }
div#main-content-body a:active { color: black; text-decoration: underline; }
div#main-content-body a:visited { color: black; text-decoration: underline; }
div#search-result-messages { color: black; margin-left: 50pt; font-size: 16pt; margin-bottom: 20pt; }
div#search-result-content { color: black; margin-left: 50pt; font-size: 14pt; }
div.search-result-item { margin-bottom: 4pt; margin-top: 4pt; }
div.commentaryfragment-details-hidden { display: none; }
div.commentaryfragment-details-visible { display: block; }
.large-greek-text { font-size: 16pt; background-color: #ecc58d; }
.large-latin-text { font-size: 16pt; background-color: #d69e5c; }
.greek-psalmtext { background-color: #cccbc8; }
.latin-psalmtext { background-color: #e0deda; }
.header-centered { font-size: 18pt; font-weight: bold; text-align: center; }
div.list-of-witnesses { margin-left: 40pt; margin-top: 10pt; margin-bottom: 10pt; }
div.psalm { margin-bottom: 30pt; margin-top: 30pt; }
div.body-psalmtext { font-size: 16pt; }
div.body-textcritic { border-bottom: 1pt solid black; margin-bottom: 10pt; }
div.new-findings-margin-left { margin-left: 30pt; border-bottom: 1pt black solid; margin-top: 10pt; }
div.body-links { margin-bottom: 10pt; }
div.for-witness-hidden { display: none; }
#div-around-witnesses { display: block; bottom: 10pt; }
div.for-witness-visible { display: block; border: 1pt solid black; margin: 20pt; width: 20%; height: auto; background-color: white; float: left; padding: 10pt; font-size: 12pt; }
div.for-links-of-witnesses { display: block; width: auto; height: auto; background-color: #fae5aa; margin-left: 10pt; margin-top: 20pt; margin-bottom: 20pt; float: left; padding: 10pt; border-radius: 5pt; }
div.for-links-of-witnesses-hidden { display: none; }
#close-button-1 { float: right; }
#close-button-2 { float: right; }
#close-button-3 { float: right; }
#close-button-4 { float: right; }
div.commentaryfragment { border-bottom: 1pt solid black; padding-top: 5pt; }
div.glosse-commentaryfragments-only { border-bottom: 1pt solid black; padding-top: 5pt; }
div.hexaplaric-variant { border-bottom: 1pt solid black; padding-top: 5pt; }
p.paragraph-in-commentaryfragment { margin-left: 30pt; }
p.paragraph-in-hexaplaric-variant { margin-left: 30pt; }
:target { display: block; position: relative; top: -90px; visibility: hidden; }
p.search-result-item-commentaryfragment { margin-left: 30pt; margin-top: 10pt; margin-bottom: 10pt; margin-right: 20pt; }
p.search-result-item-link-to-transcription { margin-left: 30pt; }
p.search-result-item-details { margin-left: 30pt; }
span.search-result-item-id { font-family: monospace; }
span.vat-gr-754-diplomatic-hidden { display: none; }
span.vat-gr-754-diplomatic-visible { display: inline; }
#sidebar { width: 180px; position: fixed; top: 10.5vh; left: 0; height: 90vh; z-index: 999; background: #f7e2a6; color: black; transition: all 0.3s; overflow-y: scroll; overflow-x: hidden; scrollbar-color: #d69e5c #ecc58d; scrollbar-width: thin;}
#sidebar.active { margin-left: -180px; }
#sidebarCollapse { background-color: white; color: black; border-color: black; }
.navigation-sidebar-header { margin-top: 5pt; margin-left: 10pt; font-size: 16pt; font-weight: bold; }
.navigation-list-first-level { margin-left: 10pt; font-weight: bold; }
.navigation-list-second-level { margin-left: 20pt; }
span.textcritical { background-color: #ecc58d; }
span.textcritical-emphasized { background-color: #d69e5c; }
/* span.textcritical-embedded { background-color: #ecc58d; } */
span.textcritical-embedded-emphasized { background-color: #a36d21; }
/* span.textcritical-embedded-embedded { background-color: #ecc58d; } */
span.textcritical-embedded-embedded-emphasized { background-color: #f2e1ce; }
span.apparatus-entry { background-color: white; }
span.apparatus-entry-lemma { font-weight: bold; }
span.apparatus-entry-highlighted { background-color: #e0deda; }
span.coptic-bibletext { color: #6e3802; }
p.paragraph-of-coptic-text { font-weight: bold; margin-top: 3pt; margin-bottom: 3pt; margin-left: 2em; margin-right: 2em; }
span.line-number-coptic-text { font-weight: normal; margin-right: 4pt; color: black; }
span.line-number-coptic-text { font-weight: normal; font-style: italic; margin-right: 4pt; margin-left: 4pt; color: black; }
span.coptic-versnumber { font-weight: normal; color: black; margin-right: 4pt; }
span.number-of-expositio { font-weight: normal; color: black; }
p.heading-manuscript-name { font-weight: normal; color: black; font-size: 24pt; margin-bottom: 0.8em; }
p.heading-manuscript-name-sub { font-weight: normal; color: black; font-size: 18pt; margin-bottom: 0.8em; margin-top: 0.8em; }
p.paragraph-of-german-text { font-weight: normal; color: black; font-style: normal; margin-top: 2.5pt; margin-bottom: 2.5pt; }
p.paragraph-of-german-text-italic { font-weight: normal; color: black; font-style: italic; margin-top: 2.5pt; margin-bottom: 2.5pt; }
p.bibliography-inline { font-weight: normal; color: black; font-style: normal; margin-top: 10pt; margin-left: 10pt; }
div.div-of-syriac-text { font-size: 18pt; text-align: justify; }
p.page-number-syriac { font-size: 18pt; font-weight: bold; }
p.heading-manuscript-name-syriac { font-weight: bold; color: black; font-size: 24pt; margin-bottom: 0.8em; text-align: center; }
p.marginal-note { direction: ltr; }
span.span-for-subcommentary { direction: ltr; }
p.page-number-translation { font-weight: normal; font-size: 16pt; }
#go-to-top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#go-to-top-button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}