swagger: '2.0'
info:
  title: "psalmcatenae"
  description: "API for querying psalmcatenae manuscripts for commentaryfragments, glosses, hexaplaric variants, and psalmtexts."
  contact:
    email: "thomas.klampfl@oeaw.ac.at"
  version: '1'
tags:
  - name: manuscripts
    description: Query manuscripts.
  - name: commentaryfragments
    description: Query manuscripts for commentaryfragments.
  - name: glosses
    description: Query manuscripts for glosses.
  - name: hexaplaric-variants
    description: Query manuscripts for hexaplaric variants.
  - name: authors
    description: Query manuscripts for authors of commentaryfragments.
  - name: authors-critical
    description: Query manuscripts for critical assigned authors of commentaryfragments.
  - name: references
    description: Query manuscripts for references to psalmtexts for which commentaryfragments exist.
host: "expps.acdh.oeaw.ac.at/psalmcatenae-server"
schemes:
  - "https"
paths:
  '/manuscripts':
    get:
      tags:
        - manuscripts
      description: "Returns a list of available manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/commentaryfragments':
    get:
      tags:
        - commentaryfragments
      description: "Returns a list of all available commentaryfragments in all manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/glosses':
    get:
      tags:
        - glosses
      description: "Returns a list of all available glosses in all manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/hexaplaric-variants':
    get:
      tags:
        - hexaplaric-variants
      description: "Returns a list of all available hexaplaric variants in all manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/commentaryfragments/{commentaryfragment-id}':
    parameters:
     - name: commentaryfragment-id
       in: path
       required: true
       type: string
       description: "ID referencing a particular commentaryfragment"
    get:
      tags:
        - commentaryfragments
      description: "Returns a particular commentaryfragment if existent in all manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/glosses/{gloss-id}':
    parameters:
     - name: gloss-id
       in: path
       required: true
       type: string
       description: "ID referencing a particular gloss"
    get:
      tags:
        - glosses
      description: "Returns a particular gloss if existent in all manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/hexaplaric-variants/{hexaplaric-variant-id}':
    parameters:
     - name: hexaplaric-variant-id
       in: path
       required: true
       type: string
       description: "ID referencing a particular hexaplaric variant"
    get:
      tags:
        - hexaplaric-variants
      description: "Returns a particular hexaplaric variant if existent in all manuscripts."
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/commentaryfragments':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
     - name: author
       in: query
       required: false
       type: string
       description: "Search for commentaryfragments of a particular author in the given manuscript."
     - name: author-critical
       in: query
       required: false
       type: string
       description: "Search for commentaryfragments of a particular critically assigned author in the given manuscript."
     - name: reference
       in: query
       required: false
       type: string
       description: "Search for commentaryfragments concerning a particular psalmtext in the given manuscript."
     - name: reference-from
       in: query
       required: false
       type: string
       description: "Search for commentaryfragments connected with a range of psalmtexts in the given manuscript."
     - name: reference-to
       in: query
       required: false
       type: string
       description: "Search for commentaryfragments connected with a range of psalmtexts in the given manuscript."
    get:
      tags:
        - commentaryfragments
      description: Returns a list of all commentaryfragments in a given manuscript or commentaryfragments for a given author concerning a given psalmtext.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/glosses':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
    get:
      tags:
        - glosses
      description: Returns a list of all glosses in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/hexaplaric-variants':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
    get:
      tags:
        - hexaplaric-variants
      description: Returns a list of all hexaplaric variants in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/commentaryfragments/{commentaryfragment-id}':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
     - name: commentaryfragment-id
       in: path
       required: true
       type: string
       description: "ID referencing a particular commentaryfragment"
    get:
      tags:
        - commentaryfragments
      description: Returns a particular commentaryfragment identified by the id if existent in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/glosses/{gloss-id}':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
     - name: gloss-id
       in: path
       required: true
       type: string
       description: "ID referencing a particular gloss"
    get:
      tags:
        - glosses
      description: Returns a particular gloss identified by the id if existent in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/hexaplaric-variants/{hexaplaric-variant-id}':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
     - name: hexaplaric-variant-id
       in: path
       required: true
       type: string
       description: "ID referencing a particular hexaplaric variant"
    get:
      tags:
        - hexaplaric-variants
      description: Returns a particular hexaplaric variant identified by the id if existent in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/authors':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
    get:
      tags:
        - authors
      description: Returns a list of authors of commentaryfragments in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/authors-critical':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
    get:
      tags:
        - authors-critical
      description: Returns a list of critical assigned authors of commentaryfragments in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
  '/manuscripts/{manuscript-name}/references':
    parameters:
     - name: manuscript-name
       in: path
       required: true
       type: string
       description: "Name of an existing manuscript in the database"
    get:
      tags:
        - references
      description: Returns a list of references of psalmtexts for which one or more commentaryfragments exists in a given manuscript.
      produces:
        - application/hal+json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found